<template>
    <div class="tables">
        <span v-for="k in choice" :key="k">
      <p class="table">
        <table-multiplication v-bind:n="parseInt(k)"/>&nbsp;
      </p>
    </span>
    </div>
</template>

<script>
    import TableMultiplication from './TableMultiplication.vue'
    export default {
        name: 'LesTablesMultiplication',
        components: {
            TableMultiplication
        },
        props: {
            n: Number,
            choice: Number
        }
    }
</script>

<style>
    .table {
        display: inline-block;
        margin: 0px 20px;
    }
    .tables {
        width: 50%;
        margin: 1% auto;
        border: 5px solid black;
    }
</style>