<template>
  <div>
    <h3><b>Table de {{n}}</b></h3>
    <table class="table-multiplication" >
      <tbody>
        <tr v-for="j in 10" :key="j">
          <td>
            <TableRow v-bind:j="j" v-bind:i="n" />
          </td>
        </tr>
         
      </tbody>
    </table>
    <br/>
  </div>
</template>

<script>
  import TableRow from "./TableRow.vue";

  export default {
    name: "TableMultiplication",
    components: {
      TableRow
    },
    props : ['n']
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .table-multiplication {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color: lightblue;*/
  }
  
  h3{
    font-size: 1em;
  }
</style>
